<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Мени</mat-toolbar>
    <mat-nav-list class="main-nav-list">
      <a mat-list-item [matMenuTriggerFor]="request">Захтев</a>
      <mat-menu #request="matMenu">
        <a mat-menu-item [routerLink]="['/copyright/request-form']" routerLinkActive="router-link-active">Ауторско дело</a>
        <a mat-menu-item [routerLink]="['/patent/request-form']" routerLinkActive="router-link-active">Патент</a>
      </mat-menu>
      <!--<a mat-list-item [routerLink]="['/copyright/request-form']" routerLinkActive="router-link-active">Захтев за<br><b>ауторскo делo</b></a>
      <a mat-list-item [routerLink]="['/patent/request-form']" routerLinkActive="router-link-active">Захтев за <b>патент</b></a>
      -->
      <a mat-list-item [matMenuTriggerFor]="search">Претрага</a>
      <mat-menu #search="matMenu">
        <a mat-menu-item [routerLink]="['/copyright/search']" routerLinkActive="router-link-active">Ауторско дело</a>
        <a mat-menu-item [routerLink]="" routerLinkActive="router-link-active">Патент</a>
      </mat-menu>
      <!-- <a mat-list-item mat-icon [routerLink]="['/account']" routerLinkActive="router-link-active">Account</a> -->

      <!-- <a mat-list-item [routerLink]="['/logout']" class="logout-link">Logout</a> -->

    </mat-nav-list>
    <mat-nav-list class="bottom-nav-list">
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/login']" routerLinkActive="router-link-active">Пријава на систем</a>
      <a mat-list-item [routerLink]="['/register']" routerLinkActive="router-link-active">Регистрација</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 style="letter-spacing: 1.5pt;"><b>Завод за интелектуалну својину</b></h1>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
