.login-container {
    margin: 20vh 20vw;
    border-radius: 20px;
    background-color: #dbdbdb;
    padding: 20px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem;
}

.login-form .login-button {
    width: 40%;
    align-self: center;
}