<body>
  <div class="background">
    <div class="container">
      <h1>ЗАХТЕВ ЗА УНОШЕЊЕ У ЕВИДЕНЦИЈУ И ДЕПОНОВАЊЕ АУТОРСКИХ ДЕЛА</h1>
      <hr/>
      <form class="form">
        <div formGroupName="applicant" class="form-group" id="applicant">
          <h3>Подносилац</h3>
          <mat-form-field appearance="fill">
            <mat-label>Подносилац је</mat-label>
            <mat-select required>
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>    
          <br/>
          <label class="form-group-label">Име и презиме:</label><br />
          <mat-form-field>
            <input matInput placeholder="Име" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Презиме" formControlName="applicantName" />
          </mat-form-field>
          <br /><label class="form-group-label">Контакт:</label><br />
          <mat-form-field>
            <input matInput placeholder="Телефон" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="e-mail" formControlName="applicantName" />
          </mat-form-field>
          <br /><label class="form-group-label">Адреса:</label><br />
          <mat-form-field>
            <input matInput placeholder="Улица" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Број улице" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Град" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Поштански број" formControlName="applicantName" />
          </mat-form-field>
        </div>
        <hr/>
        <div formGroupName="attorney" class="form-group" id="applicant">
          <h3>Пуномоћник</h3>
          <label class="form-group-label">Име и презиме:</label><br />
          <mat-form-field>
            <input matInput placeholder="Име" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Презиме" formControlName="applicantName" />
          </mat-form-field>
          <br /><label class="form-group-label">Контакт:</label><br />
          <mat-form-field>
            <input matInput placeholder="Телефон" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="e-mail" formControlName="applicantName" />
          </mat-form-field>
          <br /><label class="form-group-label">Адреса:</label><br />
          <mat-form-field>
            <input matInput placeholder="Улица" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Број улице" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Град" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Поштански број" formControlName="applicantName" />
          </mat-form-field>
        </div>
          <hr/>

        <div formGroupName="author">
          <h3>Аутор</h3>
          <label class="form-group-label">Име и презиме аутора:</label><br />
          <mat-form-field>
            <input matInput placeholder="Име" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Презиме" formControlName="applicantName" />
          </mat-form-field>
          <mat-checkbox class="example-margin">Аутор је анониман</mat-checkbox><br/>
          <label class="form-group-label">Псеудоним аутора:</label><br />
          <mat-form-field>
            <input matInput placeholder="Псеудоним" formControlName="applicantName" />
          </mat-form-field>
          <br/><mat-label>Датум смрти:</mat-label><br/>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>  
        </div>
        <hr/>
        <div formGroupName="work">
          <h3>Ауторско дело</h3>
          <label class="form-group-label">Наслов дела:</label><br />
          <mat-form-field>
            <input matInput placeholder="Главни наслов" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Алтернативни наслов" formControlName="applicantName" />
          </mat-form-field>
          <br /><label class="form-group-label">Форма записа ауторског дела:</label><br />
          <mat-form-field>
            <input matInput placeholder="Штампани текст, оптички диск..." formControlName="applicantName" />
          </mat-form-field>
          <br /><label class="form-group-label">Врста ауторског дела:</label><br />
          <mat-form-field>
            <input matInput placeholder="Књижевно дело, музичко дело..." formControlName="applicantName" />
          </mat-form-field>
          <br /><label class="form-group-label">Начин коришћења ауторског дела:</label><br />
          <mat-form-field>
            <input matInput placeholder="Начин коришћења" formControlName="applicantName" />
          </mat-form-field>
          <br/><mat-checkbox class="example-margin">Ауторско дело створено у радном односу</mat-checkbox><br/>
        </div>
        <hr/>
        <div formGroupName="derivativeWork">
          <h3>Дело прераде</h3>
          <br/><mat-checkbox class="example-margin">Приложено дело је дело прераде</mat-checkbox><br/>
          <label class="form-group-label">Наслов оригиналног дела:</label><br />
          <mat-form-field>
            <input matInput placeholder="Главни наслов" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Алтернативни наслов" formControlName="applicantName" />
          </mat-form-field>
           <br/><label class="form-group-label">Име и презиме оригиналног аутора:</label><br />
          <mat-form-field>
            <input matInput placeholder="Име" formControlName="applicantName" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Презиме" formControlName="applicantName" />
          </mat-form-field>
          <mat-checkbox class="example-margin">Аутор је анониман</mat-checkbox><br/>
          <label class="form-group-label">Псеудоним аутора:</label><br />
          <mat-form-field>
            <input matInput placeholder="Псеудоним" formControlName="applicantName" />
          </mat-form-field>
          <br/><mat-label>Датум смрти:</mat-label><br/>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>  
        </div>
      </form>
    </div>
  </div>
</body>
