<div class="container">
  <h1>ЗАХТЕВ ЗА ПРИЗНАЊЕ ПАТЕНТА</h1>
  <hr/>
  <form class="form" [formGroup]="patentRequestForm">
    <div formGroupName="patentName">
        <h3>Назив проналаска:</h3>
        <mat-form-field>
          <input matInput placeholder="На српском*" formControlName="serbianPatentName" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="На енглеском*" formControlName="englishPatentName" />
        </mat-form-field>
      </div>
    <hr/>
    <div formGroupName="applicant">
      <h3>Подносилац</h3>
      <mat-form-field appearance="fill">
        <mat-label>Подносилац је</mat-label>
        <mat-select formControlName="applicantType" required>
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <label>Име и презиме:</label><br />
      <mat-form-field>
        <input matInput placeholder="Име*" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Презиме*" formControlName="lastName" />
      </mat-form-field>
      <br /><label>Контакт:</label><br />
      <mat-form-field>
        <input matInput placeholder="Телефон*" formControlName="phoneNumber" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Е-пошта*" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Број факса*" formControlName="faxNumber" />
      </mat-form-field>
      <div formGroupName="address">
        <br /><label>Адреса:</label><br />
        <mat-form-field>
          <input matInput placeholder="Улица*" formControlName="street" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Број улице*" formControlName="streetNumber" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Град*" formControlName="city" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Поштански број*" formControlName="zipCode" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Држава*" formControlName="country" />
        </mat-form-field>
      </div>
      <br /><label>Држављанство:</label><br />
      <mat-form-field>
        <input matInput placeholder="Држављанство*" formControlName="citizenship" />
      </mat-form-field>
    </div>
    <hr/>
    <div formGroupName="inventor">
      <h3>Проналазач</h3>
      <div formGroupName="@">
        <mat-checkbox formControlName="doesNotWantToBeListed">Не жели да буде наведен</mat-checkbox><br/>
      </div>
      <label>Име и презиме:</label><br />
      <mat-form-field>
        <input matInput placeholder="Име*" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Презиме*" formControlName="lastName" />
      </mat-form-field>
      <br /><label>Контакт:</label><br />
      <mat-form-field>
        <input matInput placeholder="Телефон*" formControlName="phoneNumber" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Е-пошта*" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Број факса*" formControlName="faxNumber" />
      </mat-form-field>
      <div formGroupName="address">
        <br /><label>Адреса:</label><br />
        <mat-form-field>
          <input matInput placeholder="Улица*" formControlName="street" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Број улице*" formControlName="streetNumber" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Град*" formControlName="city" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Поштански број*" formControlName="zipCode" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Држава*" formControlName="country" />
        </mat-form-field>
      </div>
    </div>
    <hr/>
    <div formGroupName="proxy">
      <h3>Пуномоћник</h3>
      <div formGroupName="@">
        <mat-checkbox formControlName="proxyForRepresentation">Пуномоћник за заступање</mat-checkbox>
        <mat-checkbox formControlName="proxyForReceivingLetters">Пуномоћник за пријем писама</mat-checkbox><br/>
      </div>
      <label>Име и презиме:</label><br />
      <mat-form-field>
        <input matInput placeholder="Име*" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Презиме*" formControlName="lastName" />
      </mat-form-field>
      <br /><label>Контакт:</label><br />
      <mat-form-field>
        <input matInput placeholder="Телефон*" formControlName="phoneNumber" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Е-пошта*" formControlName="email" />
      </mat-form-field>
      <div formGroupName="address">
        <br /><label>Адреса:</label><br />
        <mat-form-field>
          <input matInput placeholder="Улица*" formControlName="street" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Број улице*" formControlName="streetNumber" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Град*" formControlName="city" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Поштански број*" formControlName="zipCode" />
        </mat-form-field>
      </div>
    </div>
    <hr/>
    <div formGroupName="deliveryAddress">
      <h3>Адреса за достављање:</h3>
      <mat-form-field>
        <input matInput placeholder="Улица*" formControlName="street" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Број улице*" formControlName="streetNumber" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Град*" formControlName="city" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Поштански број*" formControlName="zipCode" />
      </mat-form-field>
    </div>
    <hr/>
    <div formGroupName="deliveryType">
    <h3>Начин достављања:</h3>
      <mat-checkbox formControlName="electronicDelivery">Достављање електронским путем</mat-checkbox>
      <mat-checkbox formControlName="deliveryInPaperForm">Достављање у папирној форми</mat-checkbox><br/>
    </div>
    <hr/>
    <div formGroupName="applicationInformation">
      <h3>Првобитна пријава:</h3>
      <div formGroupName="@">
        <mat-checkbox formControlName="supplementaryApplication">Допунска пријава</mat-checkbox>
        <mat-checkbox formControlName="separateApplication">Издвојена пријава</mat-checkbox><br/>
      </div>
      <mat-form-field>
        <input matInput placeholder="Број пријаве" formControlName="originalApplicationNumber" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Датум подношења" [matDatepicker]="datepicker" formControlName="originalApplicationSubmissionDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <hr/>
    <div formGroupName="earlierApplication">
      <h3>Захтев за признање права првенства из ранијих пријава:</h3>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Датум подношења" [matDatepicker]="earlierDatepicker" formControlName="earlierSubmissionDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="earlierDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #earlierDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Број раније пријаве" formControlName="earlierApplicationNumber" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Ознака државе/организације" formControlName="countryOrOrganizationDesignation" />
      </mat-form-field><br/>
    </div>
    <hr/>
    <br/><button mat-raised-button type="submit" color="green" (click)="submitForm()">
      Пошаљи захтев
    </button>
  </form>
</div>

