<mat-form-field>
    <input matInput [ngModel]="searchQuery" type="text" placeholder="Претрага"/>
</mat-form-field>
<button mat-raised-button (click)="search()">Претражи</button>
<table mat-table [dataSource]="copyrightRequestSource" class="mat-elevation-z8">

  <ng-container matColumnDef="requestNumber">
    <th mat-header-cell *matHeaderCellDef>Број захтева</th>
    <td mat-cell *matCellDef="let request"> {{request.requestNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="applicant">
    <th mat-header-cell *matHeaderCellDef>Подносилац</th>
    <td mat-cell *matCellDef="let request"> {{getApplicant(request.index)}} </td>
  </ng-container>

  <ng-container matColumnDef="mainTitle">
    <th mat-header-cell *matHeaderCellDef>Наслов дела</th>
    <td mat-cell *matCellDef="let request"> {{request.workTitle.mainTitle}} </td>
  </ng-container>

  <ng-container matColumnDef="requestSubmissionDate">
    <th mat-header-cell *matHeaderCellDef>Датум подношења</th>
    <td mat-cell *matCellDef="let request"> {{request.requestSubmissionDate}} </td>
  </ng-container>

  <ng-container matColumnDef="accepted">
    <th mat-header-cell *matHeaderCellDef>Одобрен</th>
    <td mat-cell *matCellDef="let request"> {{getAccepted(request.index)}} </td>
  </ng-container>

  <ng-container matColumnDef="downloadDocument">
        <th mat-header-cell *matHeaderCellDef>Преузми документ</th>
        <td mat-cell *matCellDef="let request">
          <button mat-raised-button (click)="downloadHtml(request.requestNumber)">.html</button>
          <button mat-raised-button (click)="downloadPdf(request.requestNumber)">.pdf</button>
        </td>
  </ng-container>

  <ng-container matColumnDef="downloadMetadata">
    <th mat-header-cell *matHeaderCellDef>Преузми метаподатке</th>
    <td mat-cell *matCellDef="let request">
        <button mat-raised-button (click)="downloadRdf(request.requestNumber)">.rdf</button>
        <button mat-raised-button (click)="downloadJson(request.requestNumber)">.json</button>
    </td>
</ng-container>

  <ng-container matColumnDef="solution">
      <th mat-header-cell *matHeaderCellDef>Решење</th>
      <td mat-cell *matCellDef="let request">
        <button mat-raised-button (click)="toggleModal(request.requestNumber)">Обради захтев</button>
      </td>
  </ng-container>
    <ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </ng-container>
      

</table>